<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="net.droidman.librate"
    >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name=".rate.RateImeFirstActivity"
            android:launchMode="singleTop"
            android:theme="@style/DialogStyleBottom"
            />
        <activity
            android:name=".rate.RateImeRateActivity"
            android:theme="@style/DialogStyleBottom"/>
        <activity
            android:name=".rate.RateImeSecondActivity"
            android:launchMode="singleTop"
            android:theme="@style/DialogStyleBottom"/>
        <activity
            android:name=".rate.RateImeFeedbackActivity"
            android:theme="@style/DialogStyleBottom"/>
    </application>

</manifest>
